@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&family=Poppins:wght@200&display=swap');

:root {
    --dark-gray: #1f1f1f;
    --gray: #2f2f2f;
    --white: #f0f0f0;


    --text-color: #A095F5;
    --primary-0: #15202B;
    --primary-1: #112C45;
    --primary-2: #264059;
    --primary-3: #080A0C;
    --primary-4: #081A2B;
    --primary-5: #061421;

    --rgba-primary-0: rgba( 21, 32, 43,1);
    --rgba-primary-1: rgba( 17, 44, 69,1);
    --rgba-primary-2: rgba( 38, 64, 89,1);
    --rgba-primary-3: rgba(  8, 10, 12,1);
    --rgba-primary-4: rgba(  8, 26, 43,1);
}

body {
    margin: 0;
    padding: 0;
    font-size:22px;
    line-height: 32px;
    color: var(--white);
    word-wrap:break-word !important;
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-4);
}

.container {
    margin: 0 auto;
}

.container--info {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100%;
    margin: 40px;
}

a {
    color: var(--white);
}

nav {
    background-color: var(--primary-5);
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: var(--primary-5);
}

/* Main Nav */
nav a {
    display: block;
    padding: 0 20px;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    /*background-color: var(--white);*/
    color: var(--text-color);
    text-decoration: underline var(--text-color) solid 5%;
}

/* Hide Dropdowns */
nav ul ul {
    display: none;
    position: absolute;
    top: 60px; /* Line height of main nav */
}

nav ul li:hover > ul {
    display: inherit;
}

/* Dropdown */
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    background-color: var(--primary-5);
}

li > a:after { content:  ' \21B4'; }
li > a:only-child:after { content: ''; }



